.panel.panel-default
  .panel-body
    .col-md-6
      h4= t('users.account_settings')
    .col-md-6.actions.text-right
      button.btn.btn-danger.toggle-user-form
        = t('common.cancel')
      button.btn.btn-info.toggle-user-form
        = t('common.edit')
    .col-md-12.user-form
      = form_for @user_form, url: user_path(@user_form.user), method: :put do |f|
        .form-group.row
          = f.label :family_title, class: 'col-form-label col-md-2'
          .col-md-4.value
            p.value= @user_form.family_title
          .col-md-4.form-input
            = f.text_field :family_title, class: 'form-control'
        .form-group.row
          = f.label :family_paid, class: 'col-form-label col-md-2'
          .col-md-4
            p= @user_form.family_paid? ? t('common.paid') : t('common.free')
        - unless @user_form.family_paid?
          .form-group.row
            label.col-form-label.col-md-2
              = t('family.current_ratio_free_operations')
            .col-md-4
              p= used_operations_ratio(@family)
        .form-group.form-input.text-right
          = f.submit t('common.save'), class: 'btn btn-success'
.panel.panel-default
  .panel-body
    .col-md-10.users_list
      dl.dl-horizontal
        dt= t('users.list')
        dd
          ul.list-unstyled
            - @family.users.each do |user|
              li= user.name
      dl.dl-horizontal
        dt= t('users.invites')
        dd
          ul.list-unstyled
            - @family.invites.waiting.each do |invite|
              li
                => invite.email
                = link_to invite_path(invite),
                          method: :delete, class: 'btn btn-danger btn-xs' do
                  span.glyphicon.glyphicon-remove
    - unless @family.full?
      .col-md-12.actions.text-right
        button.btn.btn-danger.toggle-invite-form
          = t('common.cancel')
        button.btn.btn-primary.toggle-invite-form
          = t('family.add_user')
      .col-md-12.invite-form
        = form_for @invite_form, url: invites_path do |f|
          .form-group.row.form-input
            = f.label :email, class: 'col-form-label col-md-2'
            .col-md-4
              = f.text_field :email, class: 'form-control'
          .form-group.form-input.text-right
            = f.submit t('common.invite'), class: 'btn btn-success'

