.jumbotron
  h1.display-3 Hello
  p.lead Yet Another Budget Program
  - unless current_user
    p.lead
      = link_to t('common.login'), '/auth/facebook',
                role: 'button', class: 'btn btn-primary btn-lg'
