/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

.navbar {
  ul.nav {
    li {
      a {
        text-decoration: underline;
      }
      &.active {
        a {
          text-decoration: none;
        }
      }
      &.total {
        padding: 15px 0;
        color: #777;
      }
      a:hover {
        text-decoration: none;
      }
      .dropdown-menu {
        text-align: right;
        padding-right: 1em;
        a {
          color: #333;
        }
      }
    }
  }
}

.side-menu {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 10em;
  padding: 0 1em;
  min-width: 15%;
  &.opener {
    background-color: #ddd;
    border: 1px dotted #ccc;
    min-width: 10px;
  }

  button {
    background-color: #ddd;
    border: none;
  }
  #my-accordion {
    .panel-heading {
      span {
        display: inline-block;
        cursor: pointer;
        border-bottom: 1px dotted #777;
      }
    }
    .panel {
      ul {
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

footer {
  padding: 5em 3em;
  margin: 2em 0;
}
