// Place all the styles related to the operations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.operations {
  min-height: 400px;
  .add-new {
    margin-bottom: 1em;
  }

  .card {
    margin-bottom: 1em;
    padding: 2em 0;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 7px 30px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 7px 30px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 7px 30px -5px rgba(0,0,0,0.4);

    .card-header {
      margin-left: 2em;
      padding-bottom: 1em;
      font-size: 85%;
      border-bottom: 1px dotted #ddd;
    }
  }

  #form {
    #tags {
      min-height: 1em;
      span {
        display: inline-block;
        margin-right: 0.5em;
        font-size: 90%;
        cursor: pointer;
        font-weight: 400;
      }
    }
  }
}
