.users {
  .actions {
    .btn-danger {
      display: none;
    }
  }
  .user-form, .invite-form {
    margin-top: 2em;
    .form-input {
      display: none;
    }
  }
  .users_list {
    margin: 1em 0;
  }
}
