.navbar.navbar-default.navbar-static-top
    .container
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to t(:app_name), root_path, class: 'navbar-brand'
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          - if current_user
            li.nav-item class="#{'active' if active?('operations', 'outgo')}"
              = link_to t('operations.outgos'),
                        outgos_path, class: 'nav-link'
            li.nav-item class="#{'active' if active?('operations', 'income')}"
              = link_to t('operations.incomes'),
                        incomes_path
        ul.nav.navbar-nav.navbar-right.right
          = yield(:total) if content_for?(:total)
          = yield(:balance) if content_for?(:balance)
          - if current_user
            li.nav-item.dropdown
              = link_to current_user.name, '#',
                        class: 'nav-link dropdown-toggle',
                        'data-toggle' => 'dropdown', role: 'button',
                        'aria-haspopup' => "true", 'aria-expanded' => "false",
                        id: 'profile-dropdown'
              .dropdown-menu.text-right
                =link_to t('common.settings'), profile_path,
                         class: 'dropdown-item'
                br
                =link_to t('common.logout'), logout_path,
                         class: 'dropdown-item', method: :delete
