#form.modal.fade tabindex='-1' role='dialog' aria-labelled-by='form' aria-hidden='true'
  .modal-dialog role='document'
    .modal-content
      .modal-header
        button.close type='button' data-dismiss='modal' aria-label=t('common.close')
          span aria-hidden='true' &times;
        h5.modal-title= t('operations.form_title')
      = form_for @new_operation, url: operations_path do |f|
        .modal-body.container
          = f.hidden_field :type
          .form-group.row
            = f.label :title, class: 'col-form-label col-md-2'
            .col-md-4
              = f.text_field :title, class: 'form-control'
          .form-group.row
              = f.label :amount, class: 'col-form-label col-md-2'
              .col-md-4
                = f.number_field :amount, class: 'form-control'
          .form-group.row
              = f.label :date, class: 'col-form-label col-md-2'
              .col-md-4
                = f.text_field :date, class: 'form-control datepicker'
          .form-group.row
            = f.label :categories_list, class: 'col-form-label col-md-2'
            .col-md-4
              = f.hidden_field :categories_list, class: 'form-control'
              = text_field_tag :tags_input, '', class: 'form-control'
          .form-group.row
            .col-md-4.col-md-offset-2#tags
        .modal-footer
          .form-group
            = f.submit t('common.save'), class: 'btn btn-success'
