.row
  .card.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    .card-header
      => l operation.date
      => operation.user_name
    .card-block
      .col-md-8.col-xs-8
        = operation.title
      .col-md-4.col-xs-4.text-right
        = number_to_currency operation.amount
