.operations-side-menu.opener.side-menu
  button.btn.btn-default.btn-lg#open-button
    span.glyphicon.glyphicon-calendar
.operations-side-menu.side-menu.menu.hidden
  button.btn.btn-default.btn-lg#close-button
    span.glyphicon.glyphicon-chevron-left
  .panel-group#my-accordion
    - @operations.dates_hash_for_side_menu.each_with_index do |(year, months), i|
      - visible = params[:year].to_i == year || (params[:year].nil? && i.zero?)
      .panel.panel-default
        .panel-heading.headingYear rol='tab'
          span data-toggle="#{year}"
            = year
        .panel-body data-toggled-by="#{year}" class="#{'hidden' unless visible }"
          ul
            - months.each do |month|
              li= link_to t("common.dates.months.#{Date::MONTHNAMES[month]}"),
                  url_for(year: year, month: month),
                  class: side_menu_link_class(params, year, month)
