- if current_user
  = content_for :total
    li.nav-item.total
      = "#{t('operations.total')}: #{number_to_currency(current_user.family.current_balance_amount)}"
= content_for :side_menu
  = render 'side_menu'
- if @new_operation.type && OperationPolicy.new(current_user).create?
  .row.add-new
    = link_to  new_operation_path, class: 'btn new-operation btn-primary col-md-6 col-md-offset-3 col-xs-12' do
      span.glyphicon.glyphicon-plus
      '&nbsp;
      = t("operations.create_#{@new_operation.type}")
= render partial: 'operation', collection: @operations.index
= render 'form'
